<div id="container">

    <div id="main-title">
      Andromeda
    </div>

    <div id="user-list">
      <% @users.each do |user| %>
        <%= user.username %><br>
      <% end %>
    </div>
    <div id="friend-list">
      <% @friends.each do |friend| %>
        <%= friend.username %> <%= friend.first_name %><br>
      <% end %>

</div>
