<div id="container">
<h3>Current Friends</h3>
<% current_user.friendships.each do |friend| %>
  <% if !friend.new_record? %>
    <%= User.find(friend.friend_id).username %><br>
  <% end %>
<% end %>
<hr>
</div>
<div id="article">
  <h3><%= @article_title %></h3>
  <p><%= @summary %></p>
</div>
