// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masonry-container {
  margin: auto;
  display: block;
  width: 80%;
}


.article {
  color: white;
  text-align: left;
  width: 100%;
  margin: auto;
  background:rgba(0,0,0,0.5);
  overflow: hidden;
}

p {
  color: white;
  text-align: left;
  font-size: 2em;
  margin: 20px 0 20px 0;
}
